/* Estilização geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", Arial, sans-serif;
}

body {
  background: #341933;
}
/* Estilização Cabeçalho */
header {
  border-bottom: 2px solid #ccc;
  padding: 1rem 2rem;
  color: #fff;

  background-color: #00a8cc;
}

#search-input {
  background-color: #fff;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: #000;
  width: 100%;
}
#search-input::placeholder {
  color: #666;
}
#export-notes {
  display: flex;
  align-items: center;
  border: 2px solid #333;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  transition: 0.2s;
}
#export-notes:hover {
  background-color: #fff;
}
/* Estilização do form de nova nota*/
#add-note-container {
  display: flex;
  width: 80%;
  margin: 1rem auto 0;
  gap: 1rem;
}
#add-note-container input,
#add-note-container button {
  padding: 10px;
  border-radius: 5px;
}
#add-note-container input {
  flex: 1;
  background-color: #fff;
  border: none;
  outline: none;
}
#add-note-container button {
  cursor: pointer;
  background-color: #cc9c00;
  color: #000;
  border: none;
  transition: 0.2s;
}
#add-note-container button:hover {
  background-color: #fff;
  color: #333;
}
/* Estilização das notas */
#notes-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}
.note {
  min-height: 25rem;
  width: 25rem;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  position: relative;
  background: rgba(204, 156, 0, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.note textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.note textarea {
  background-color: transparent;
  resize: none;
  color: #fff;
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
}
.note .bi-pin {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}
.note:hover > i {
  opacity: 1;
}
.note .bi-trash,
.note .bi-file-earmark-plus {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.9rem;
  padding: 10px;
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  border-radius: 50%;
}
.note .bi-file-earmark-plus {
  top: 4rem;
}
.note .bi-trash:hover,
.note .bi-file-earmark-plus:hover,
.note .bi-pin:hover {
  font-size: 1.2rem;
}
.note .bi-trash:hover {
  background-color: red;
}
.note .bi-file-earmark-plus:hover {
  background-color: blue;
}
.note .bi-pin:hover {
  background-color: green;
}
.note.fixed {
  background: rgba(204, 156, 0, 0.5);
}
.pin-green {
  background-color: green;
}
